// page
.cr-page {
  min-height: 100vh;
  &__header {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
    display: flex;
    align-items: flex-end;
    align-self: center;
  }

  &__title {
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
    padding-right: 0.5rem;
    margin-bottom: 1rem;
  }

  &__breadcrumb {
    @include media-breakpoint-down(sm) {
      align-self: flex-start;
    }
    align-self: flex-end;
    padding: 0;
    text-transform: capitalize;
    background: theme-color('light');
  }

  .row {
    // stylelint-disable-next-line
    .col,
    > [class^='col-'] {
      margin-bottom: 1rem;
    }
  }
}

.cr-page-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-striped{
  .card-subtitle{
    font-weight: bold;
    color: #545454;
    margin: 5px 0;
  }
  .card-body{
    .btn{
      padding: 0.35rem 0.35rem !important;
      
    }
    .btn-primary{
      background: #ffffff ;
      border: 2px solid #545454 ;
      margin:0 20px 5px 20px;
    }
    .btn-primary:not(:disabled):not(.disabled):active{
      background-color: #ae1f17 !important;
      
    }
    .btn-primary:not(:disabled):not(.disabled).active{
      background-color: #ae1f17 !important;
      border-color: #ae1f17 !important ;
    }
  
  }

}
.btn-secondary{
  background: #ae1f17 !important;
  border-color: #ae1f17 !important ;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background: #ae1f17 !important;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.btn-primary:not(:disabled):not(.disabled).active:focus, 
.show > .btn-primary.dropdown-toggle:focus{
  box-shadow: none !important;
}
/*.btn-primary:not(:disabled):not(.disabled):active,
 .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
   border: #ae1f17 !important;
 }*/
 .table{
   color: $secondary;
 }
 .table-danger{
   color: #fff ;
   background-color: #ae1f17 !important;
   th{
    background-color: #ae1f17 !important;
    text-align: center;
    font-size: small;
    vertical-align: inherit;
   }
   
 }
 .badge-danger{
   background-color:#ae1f17 ;
 }
 .badge-pill{
   border-radius: 5px !important;
 }
 .table-hover{
   tbody{
    tr{
      &:hover{
        td{
         color: #ae1f17;
        }
        th{
         color: #ae1f17;
        }
      }
    }

   }
   
  td{
    padding: 0.75rem;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
   
   }
   th{
    font-size: 14px;
    vertical-align: inherit !important;
    text-align: center;
   }
   svg{
    font-size: 15px;
    height: 16px;
    width: auto;
    padding: 0 3px;
    &:hover{
      color: #ae1f17;
      height: 18px;
      width: auto;
      transform: rotate3d(0.3s);
 
    }
  }
  path{
   font-size: 15px;
  }

 }
 .breadcrumb{
   .breadcrumb-item{
     padding-left: 10px;
   }
 }
 .bg-danger{
   background-color: #ae1f17 !important;

 }
 .btn-danger{
   background: #ae1f17 !important;
   border-color: #ae1f17;

 }
 .modal-content{
   .btn-danger{
     margin: auto;
   }
 }
 .card{
   .card-header{
     background-color:#fff ;
     color: #545454;
   }
 }
 .modal-title{
   color: #ae1f17;
 }
 .btn-outline-danger{
   color: #ae1f17;
   border-color: #ae1f17;
   margin: auto;
   font-size: 15px;
    font-weight: bold;
   &:hover{
     background-color: #ae1f17;
     border-color: #ae1f17;

   }
 }
 
 
 .btn-outline-danger:not(:disabled):not(.disabled):active, 
 .btn-outline-danger:not(:disabled):not(.disabled).active, 
 .show > .btn-outline-danger.dropdown-toggle{
  background-color: #ae1f17;
  border-color: #ae1f17;
 }
 .btn-lg{
   padding: 5px 10px !important;
 }
 .sum-left{
   padding-right: 0 !important;
 }
 .sum-right{
   padding-left: 0 !important;
 }
 .sum{
  background-color: #ae1f17;
  color: #fff;
  text-align: center;
  padding: 7px 0;
 }
 .button-bottom{
   .center{
     text-align: center;
   }
}
.modal-dialog-centered{
  .btn-block{
    font-size: 16px;
  }
}
.DashboardPage{
  .card-title{
    color: #ae1f17 !important;
  }
  .card-header{
    font-weight: bold;
    color: #ae1f17;
  }
  .card-text{
    .mb-0{
      font-weight: 500;
    }
  }
}
.top-report{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.bottom-report{
  text-align: center;
  color: #545454;
}
.media{
  .media-body{
    h5{
      font-size: 17px;
    color: #545454;
    font-weight: bold;
    }
    p{
      font-size: 14px;
    }
  }
  .media-right{
    h4{
      font-size: 20px;
    font-weight: bold;
    color: #ae1f17;

    }
    
  }
}
.cr-sidebar__content{
  .nav-link {
    font-size: 15px;

  }

}
.modal-dialog{
  .modal-header{
    background-color: #ae1f17;
    .modal-title{
      color: #fff;
      font-weight: bold;
      font-size: 16px;
    }
  }
  .btn-danger{
    color: #ae1f17 !important;
    border-color: #ae1f17;
   
    background-color: #fff !important;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
    &:hover{
      color: #fff !important;
    border-color: #fff;
    background-color: #ae1f17!important;
    
    }
  }
}
.bg-gradient-theme{
  border: 2px solid #ddd !important;
}
.cr-header{
  .btn-outline-secondary{
    color: #ae1f17;
    background-color: #fff;
    
    &:hover{
      background-color: #fff;
      box-shadow: none !important;
      

    }
  }
  .btn-outline-secondary:not(:disabled):not(.disabled):active{
    background-color: #fff;
    color: #ae1f17;
    box-shadow: none !important;
  }
  .btn-outline-secondary:not(:disabled):not(.disabled):active:focus{
    box-shadow: none !important;
  }
}
.btn-excel-report{
  color: #ae1f17 !important;
    border-color: #ae1f17;
   padding: 5px 10px !important;
    background-color: #fff !important;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
    &:hover{
      color: #fff !important;
    border-color: #fff;
    background-color: #ae1f17!important;
    }
}
.submit-refix{
  color: #ae1f17 !important;
    border-color: #ae1f17;
   padding: 5px 10px !important;
    background-color: #fff !important;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
    &:hover{
      color: #fff !important;
    border-color: #fff;
    background-color: #ae1f17!important;
    }

}
.red-text{
  color: #ae1f17;
}
.pd-rancach{
  .row{
    margin-bottom: 20px;
  }
}
.error-text{
  text-align: right;
  font-size: 13px;
  color: #ae1f17;
}
.center-text-submit{
  text-align: center;
}
.title-logo{
  padding-left: 15px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #ae1f17;
}
.mg-0{
  margin-bottom: 0 !important;
}
.bt-submit{
  text-align: center;
}
.forgot-password{
  text-align: center;
  padding-top: 10px;
  a{
    font-size: 15px;
  }
}
.aaa{
 max-width: 250px  !important;
}
.activities-fix{
  .media-body{
   width: 250px;
 }
 // .media-right{
 //   padding-left: 50px;
 // }
}
@media (min-width: 576px){
  .modal-dialog {
    max-width: 700px !important;
  }
}
.oke{
  margin-right: 20px;
}
